[submodule "Engine/Plugins/Runtime/Mixer"]
	path = Engine/Plugins/Runtime/Mixer
	url = https://github.com/EmmettJnr/interactive-unreal-plugin.git
[submodule "Engine/Plugins/Runtime/XboxOne/XboxFrontPanel"]
	path = Engine/Plugins/Runtime/XboxOne/XboxFrontPanel
	url = https://github.com/EmmettJnr/xbox-front-panel-unreal-plugin.git
