# NOTE: Requires **VS2019 16.3** or later

# EditorConfig is awesome:http://EditorConfig.org

# Dotnet code style settings:
[*.cs]

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = warning
