# NOTE: Requires **VS2019 16.3** or later

# EditorConfig is awesome:http://EditorConfig.org

# Dotnet code style settings:
[*.cs]

# IDE0005: Using directive is unnecessary (Disabled for UBT due to mismatch in projects with implicit usings)
dotnet_diagnostic.IDE0005.severity = silent 
